.contactText {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contact {
	font-size: 1.5em;
	margin: .5vw 0;
}

.name {	
	font-size: 3.5em;
}

.contactIcon {
	width: 4vw;
	min-width: 35px;
	margin: 3px;
	margin-top: 6px;
	margin-bottom: 0;
}

.contactIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}